<div id="allFilms" ng-controller="searchGenreController" ng-repeat="film in films">
    <div class="thumbwrap col-xs-12 col-sm-4 col-md-2"><a class="thumb" href="/filmpage/{{film.id}}">
        <div class="ratingFilm">
            <div ng-app="app" ng-controller="ratingController as rating" class="container">
                <star-rating ng-model="film.rating" readonly="rating.isReadonly"></star-rating>
            </div>
        </div>
        <div data-toggle="tooltip" title="{{film.synopsis}}" class="opaco"></div>
        <img ng-src="{{film.urlImage}}" alt="Image" class="img-responsive" for="info">

        <div class="titleFilm">
            <p>{{film.title}}</p>
        </div>
    </a>
    </div>
</div>

