<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/homepage.css">
</head>

<body ng-app="myApp">

<!--########-->
<!--CABECERA-->
<!--########-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="homepage.html">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="listspage.html">My Lists</a></li>
                <li><a href="#">My Schedule</a></li>
                <li><a href="filmsPage.html">Films</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--########-->
<!--// CABECERA-->
<!--########-->

<p>{{ message }}</p>

<!--########-->
<!--INFO FILM-->
<!--########-->

    <div class="title-info" ng-controller="infoFilmController">
        <ul class="titleRight">
            <li><h2>{{fields.title}}</h2></li>
        </ul>
        <ul class="titleLeft">
            <li>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Add to my list</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">Summer</a>
                        <a href="#">Christmas</a>
                        <a href="#">New List</a>
                    </div>
                </div>
            </li>
            <li><button class="editButtonInfo"><span class="glyphicon glyphicon-edit glyphyInfo" aria-hidden="true" data-toggle="modal" data-target="#myModalEdit"></span></button></li>
            <li><button class="deleteButtonInfo"><span class="glyphicon glyphicon-trash glyphyInfo" aria-hidden="true"></span></button></li>
        </ul>
    </div>
<div class="row">
<div ng-controller="infoFilmController" class="filmImageData">
    <div class="filmImage">
        <div class="imageFilm"> <img ng-src="{{fields.urlImage}}" alt="Image" class="img-responsive"> </div>
        <div class="yearRating">
            <h3>Year</h3>  <p> {{fields.year}} </p>
            <h3>Rating</h3>  <p>{{fields.rating}}</p>
        </div>
    </div>
    <div class="filmData">
        <h3>Sypnosis</h3>
        <p>{{fields.synopsis}}</p>
        <h3>Director</h3>
        <p>{{fields.director}}</p>
        <h3>Actors</h3>
        <p>{{fields.actors}}</p>
        <h3>Genre</h3>
        <p>{{fields.genre}}</p>
        <h3>Watch the movie</h3>
        <p><a href="url">Link</a></p>
    </div>
</div>
</div>

<!--########-->
<!--/INFO FILM-->
<!--########-->


<!--########-->
<!--MODAL EDIT FILM-->
<!--########-->

<div ng-controller="infoFilmController" class="modal fade" id="myModalEdit" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">EDIT FILM</h4>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Title</label>
                <div class="col-xs-9">
                    <input ng-model="fields.title" class="form-control" required >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Synopsis</label>
                <div class="col-xs-9">
                    <input ng-model="fields.synopsis" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Genre</label>
                <div class="col-xs-9">
                    <input ng-model="fields.genre"  class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Year</label>
                <div class="col-xs-9">
                    <input ng-model="fields.year" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Director</label>
                <div class="col-xs-9">
                    <input ng-model="fields.director" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Actors</label>
                <div class="col-xs-9">
                    <input ng-model="fields.actors" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Image</label>
                <div class="col-xs-9">
                    <input ng-model="fields.urlImage" type="file" class="filestyle" data-buttonName="btn-primary">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Rating</label>
                <div class="col-xs-9">
                    <input ng-model="fields.rating" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Path</label>
                <div class="col-xs-9">
                    <input ng-model="fields.path" type="file" class="filestyle" data-buttonName="btn-primary">
                </div>
            </div>


            <div class="modal-footer">
                <button ng-click="create(film)" type="submit" class="btn btn-default" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>

</div>


<!--########-->
<!--/MODAL EDIT FILM-->
<!--########-->

</body>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../js/controllers.js"></script>
<script src="../js/navbarScript.js"> </script>

</body>
</html>
