<div class="carousel carousel-showsixmoveone slide" id="{{id}}">
    <div  class="carousel-inner">
        <div id ="itemCarouselList" class="item " ng-class="{active : $first}" ng-repeat="film in elements">
            <div class="thumbwrap col-xs-12 col-sm-4 col-md-2">
                <a class="thumb" href="/filmpage/{{film.id}}">
                    <div class="ratingFilm">
                        <div ng-app="app" ng-controller="ratingController as rating" class="container">
                            <star-rating ng-model="film.rating" readonly="rating.isReadonly"></star-rating>
                        </div>
                    </div>

                    <div data-toggle="tooltip" title="{{film.synopsis}}" class="opaco"></div>

                    <img id="imgShort" ng-src="{{film.urlImage}}" alt="Image" class="img-responsive" for="info">
                </a>
                <div class="titleFilm">
                <p>{{film.title}}</p>
                </div>
            </div>
        </div>
    </div>



    <a ng-hide="elements.length < 6" class="left carousel-control" href="#{{id}}" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a ng-hide="elements.length < 6" class="right carousel-control" href="#{{id}}" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>

