body{background-color: black;}

/******************/
/*CAROUSEL INICIAL*/
/******************/

#carouselPrincipal .item img{
    height:100%;
    width: 100%;
}

.opaco {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.5;
}

.carousel-indicators li{
    border-color: red;
    background-color: black;
}

.carousel-control {
    padding-top:10%;
    width:5%;
}


/********************/
/*CAROUSEL CARTELERA*/
/*******************/

.carousel-showsixmoveone .carousel-control {
    width: 4%;
    background-image: none;
}
.carousel-showsixmoveone .carousel-control.left {
    margin-left: 15px;
}
.carousel-showsixmoveone .carousel-control.right {
    margin-right: 15px;
}
.carousel-showsixmoveone .cloneditem-1,
.carousel-showsixmoveone .cloneditem-2,
.carousel-showsixmoveone .cloneditem-3,
.carousel-showsixmoveone .cloneditem-4,
.carousel-showsixmoveone .cloneditem-5 {
    display: none;
}
@media all and (min-width: 768px) {
    .carousel-showsixmoveone .carousel-inner > .active.left,
    .carousel-showsixmoveone .carousel-inner > .prev {
        left: -33.333%;
    }
    .carousel-showsixmoveone .carousel-inner > .active.right,
    .carousel-showsixmoveone .carousel-inner > .next {
        left: 33.333%;
    }
    .carousel-showsixmoveone .carousel-inner > .left,
    .carousel-showsixmoveone .carousel-inner > .prev.right,
    .carousel-showsixmoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner .cloneditem-1,
    .carousel-showsixmoveone .carousel-inner .cloneditem-2 {
        display: block;
    }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showsixmoveone .carousel-inner > .item.active.right,
    .carousel-showsixmoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(33.333%, 0, 0);
        transform: translate3d(33.333%, 0, 0);
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner > .item.active.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-33.333%, 0, 0);
        transform: translate3d(-33.333%, 0, 0);
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner > .item.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev.right,
    .carousel-showsixmoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media all and (min-width: 992px) {
    .carousel-showsixmoveone .carousel-inner > .active.left,
    .carousel-showsixmoveone .carousel-inner > .prev {
        left: -16.666%;
    }
    .carousel-showsixmoveone .carousel-inner > .active.right,
    .carousel-showsixmoveone .carousel-inner > .next {
        left: 16.666%;
    }
    .carousel-showsixmoveone .carousel-inner > .left,
    .carousel-showsixmoveone .carousel-inner > .prev.right,
    .carousel-showsixmoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner .cloneditem-3,
    .carousel-showsixmoveone .carousel-inner .cloneditem-4,
    .carousel-showsixmoveone .carousel-inner .cloneditem-5 {
        display: block;
    }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showsixmoveone .carousel-inner > .item.active.right,
    .carousel-showsixmoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(16.666%, 0, 0);
        transform: translate3d(16.666%, 0, 0);
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner > .item.active.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-16.666%, 0, 0);
        transform: translate3d(-16.666%, 0, 0);
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner > .item.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev.right,
    .carousel-showsixmoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
.container {
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
    .logo {
        margin: 28px;
        float: left;
    }
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    height: 100%;
    width: 100%;
}


/*********/
/*TÃTULOS*/
/*********/

.title{
    float:left;
}

.title h2{
    font-weight: bold ;
    color: white;
    margin-left: 10px;
}


/********/
/*NAVBAR*/
/********/

.navbar-default .navbar-brand, .navbar-default .navbar-brand{
    color: red;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a{
    color:red;
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color:white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:whitesmoke;
}

.navbar{
    background: rgba(255, 255, 255, 0);
}


nav.navbar.scroll{
    background: rgba(0, 0, 0, 0.7);
}


.navbar-default{
    border: none;
}

.navbar-form .input-group>.form-control{
    background-color: transparent;
}

.input button{
    background-color: red;
}

.form-group{
    margin-left: 10px;
    margin-top: 10px;
}

/***INFO FILM*****/

/* Dropdown Button */
.dropbtn {
    margin-left: 90px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: indianred;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.title-info{
    margin-top:5%;
}

.titleRight li, .titleLeft li{
    list-style: none;
    display: inline;
}

.titleRight li h2 {
    display: inline;
}

.titleRight{
    margin-left: 5%;
    float:left;
}

.titleLeft{
    margin-right: 5%;
    float:right;
}

.titlefilm{
    float:left;
}

.glyphyInfo{
    color: red;
    font-size: 20px;
}


.editButtonInfo, .deleteButtonInfo{
    background-color: black;
    border: none;
}

.filmImageData{
    overflow: auto;
    width: 90%;
    margin-left: 5%;
}

.imageFilm{
    height: 250px;
    width: 200px;
    float:left;
}

.filmData{
    padding-left: 2%;
    float:left;
    width: 75%;
}

.yearRating{
    clear:both;
    padding-top: 10%;
}

.filmImage{
    float:left;
    margin-top: 3%;
    margin-left: 2.5%;
}
